body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
  font-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.625rem 1.625rem;
}

header .logo {
  height: 100%;
}

header .menu {
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  background-color: rgba(36, 43, 70, 0.98);
  width: 100%;
  height: 100vh;
  z-index: 2;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.mobile-menu--modifier {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__header {
  position: relative;
  width: 100%;
  height: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.625rem 1.625rem;
}

.mobile-menu__header .logo {
  height: 100%;
  position: absolute;
  left: 1.625rem;
  top: 2.625rem;
}

.mobile-menu__header .logo__svg {
  fill: white;
}

.mobile-menu__header .logo__svg path:last-child {
  fill: rgba(36, 43, 70, 0.98);
}

.mobile-menu__header .close-btn {
  height: 100%;
  cursor: pointer;
}

.mobile-menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 2.5rem;
}

.mobile-menu ul li {
  margin: auto;
  text-align: center;
  color: white;
  height: 4.125rem;
  width: 20.625rem;
  padding: 24px 0;
  border-bottom: 0.5px solid #9194a1;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.01em;
}

.mobile-menu ul li:first-child {
  border-top: 0.5px solid #9194a1;
}

.mobile-menu ul li:last-child {
  border: none;
}

.mobile-menu ul li:last-child a {
  color: white;
  display: block;
  border: 2px solid white;
  padding: 1rem 7.5rem;
  border-radius: 5px;
}

.mobile-menu .socials {
  margin: auto;
  margin-top: 7rem;
  width: 5.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  width: 100%;
  margin-top: 3.4375rem;
}

@media screen and (min-width: 800px) {
  .content .for-media {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.content .hero {
  position: relative;
  width: 100%;
  height: 16.75rem;
}

@media screen and (min-width: 800px) {
  .content .hero {
    width: 50%;
  }
}

.content .hero .shape {
  position: absolute;
  top: 60px;
  right: 0;
  width: 19.125rem;
  height: 13rem;
  background: #5267DF;
  border-radius: 100px 0px 0px 100px;
}

.content .hero .shape--reverse {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  left: 0;
}

.content .hero .illustration {
  position: absolute;
  width: 22.25rem;
  height: 16.4375rem;
  top: 0;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.content .hero .illustration img {
  height: 100%;
  width: 100%;
}

.content .hero .illustration--tab-2 {
  text-align: center;
}

.content .hero .illustration--tab-2 img {
  width: 20.0625rem;
  height: 12.9375rem;
}

.content .hero--reverse {
  margin-bottom: 2.9375rem;
}

.content .sub-content .heading {
  font-style: normal;
  font-weight: bold;
  font-size: 1.75rem;
  text-align: center;
  line-height: 2.625rem;
  letter-spacing: 0.05rem;
}

@media screen and (min-width: 800px) {
  .content .sub-content .heading {
    width: 20rem;
    text-align: left;
    margin-left: 1.625rem;
  }
}

.content .sub-content .heading--sub-heading {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.875rem;
}

.content .sub-content .sub-text {
  margin: auto;
  width: 18.75rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 162%;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .content .sub-content .sub-text {
    text-align: left;
    margin-left: 1.625rem;
    width: 27rem;
  }
}

.content .sub-content .sub-text--secondary {
  width: 19.9375rem;
  letter-spacing: -0.01rem;
}

.content .sub-content .call-to-act {
  width: 20.4375rem;
  margin-top: 2.3125rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12.1875rem;
}

@media screen and (min-width: 800px) {
  .content .sub-content .call-to-act {
    margin-left: 1.625rem;
  }
}

.content .sub-content .call-to-act .btn {
  display: inline-block;
  text-decoration: none;
  width: 9.875rem;
  height: 3.125rem;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 12px 0;
  border-radius: 5px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375rem;
  text-align: center;
}

.content .sub-content .call-to-act .btn--blue {
  background-color: #5368df;
  color: white;
}

.content .sub-content:last-child {
  margin-top: 10.125rem;
}

.content .action {
  width: 100%;
  margin-top: 2.625rem;
  margin-bottom: 4.625rem;
}

.content .action ul {
  position: relative;
  margin: auto;
  padding: 0;
  list-style: none;
  width: 20.25rem;
}

@media screen and (min-width: 800px) {
  .content .action ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
  }
}

.content .action ul li {
  position: relative;
  display: block;
  height: 3.4375rem;
  width: 100%;
  font-size: 1.125rem;
  text-align: center;
  padding-top: 15px;
  border-bottom: 3px solid #9194a1;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.01em;
}

@media screen and (min-width: 800px) {
  .content .action ul li {
    border-bottom-width: 1.5px;
  }
}

.content .action ul li:first-child::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 100%;
  border-bottom: 5px solid #fa5757;
}

.content .action ul::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 3px solid #9194a1;
}

@media screen and (min-width: 800px) {
  .content .action ul::before {
    border-top: none;
  }
}

.content .cards {
  width: 100%;
  margin-top: 2.4375rem;
  margin-bottom: 6.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .cards .card {
  width: 18.25rem;
  padding-top: 3.3125rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 2.4375rem;
}

.content .cards .card-sub-heading {
  font-size: 1.25rem;
  letter-spacing: 0.01em;
}

.content .cards .card-call-to-act {
  position: relative;
  height: 6.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .cards .card-call-to-act .btn {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375rem;
  color: white;
  display: block;
  width: 15.125rem;
  padding: 1rem 2.28125rem;
  margin: auto;
  background-color: #5368df;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.content .cards .card-call-to-act::before {
  content: '';
  width: 100%;
  height: 1rem;
  position: absolute;
  top: 0;
  background-image: url("./images/bg-dots.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.content--q-a .questions {
  width: 100%;
  margin: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin-top: 3.0625rem;
}

.content--q-a .questions li {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 4.125rem;
  width: 20.625rem;
  padding: 24px 0;
  border-bottom: 1px solid #9194a1;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.01em;
}

.content--q-a .questions li::after {
  content: '';
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url("./images/icon-arrow.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content--q-a .questions li::after {
  content: '';
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url("./images/icon-arrow.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.content--q-a .questions .after--mod::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.content--q-a .questions .answer {
  width: 20.625rem;
  margin: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 162%;
  border-bottom: 1px solid #9194a1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content--q-a .questions .answer--mod {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.content--q-a .call-to-act {
  margin-top: 3.125rem;
  height: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content--q-a .call-to-act .btn {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375rem;
  color: white;
  display: block;
  padding: 1rem 2.28125rem;
  margin: auto;
  background-color: #5368df;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.form {
  width: 100%;
  background-color: #5368df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4.25rem;
  padding-bottom: 3.75rem;
}

.form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 19.625rem;
}

.form .container p {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 186%;
  /* or 186% */
  letter-spacing: 0.22em;
  color: #252b46;
}

.form .container h3 {
  width: 19.625rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  /* or 108% */
  text-align: center;
  color: #252b46;
}

.form .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
  position: relative;
}

.form .container form input {
  z-index: 1;
  width: 19.625rem;
  padding: 1rem 0 1rem 21px;
  border-style: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 1.6875rem;
  letter-spacing: 0.015em;
  color: #252b46;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form .container form label {
  position: absolute;
  width: 100%;
  height: 4.75rem;
  background-color: #fa5757;
  color: white;
  top: 0;
  left: 0;
  border-radius: 5px;
  font-style: italic;
  font-size: 0.6875rem;
  font-weight: 500;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form .container form button {
  width: 19.5625rem;
  padding: 1rem 0 1rem 21px;
  border-style: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.875rem;
  color: white;
  letter-spacing: 0.015em;
  background-color: #fa5757;
  outline: none;
  cursor: pointer;
}

footer {
  background-color: #252b46;
}

footer .sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .sub-container .logo {
  margin-top: 2.375rem;
  height: 1.625rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .sub-container .logo svg {
  fill: white;
  height: 100%;
  width: 50%;
}

footer .sub-container .logo svg circle {
  fill: #5368df;
}

footer .sub-container .logo svg path:last-child {
  fill: #252b46;
}

footer .sub-container ul {
  margin-top: 2.125rem;
  padding: 0;
  width: 9.3125rem;
  height: 7.75rem;
  list-style: none;
  text-transform: uppercase;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .sub-container ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.02em;
}

footer .sub-container .socials {
  width: 9.3125rem;
  height: 4.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .attribution {
  text-align: center;
  color: white;
  font-size: 0.625rem;
}
/*# sourceMappingURL=main.css.map */